:root, * {
  font-family:
    var(--fdm22--typography-font),
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Noto Sans",
    Helvetica,
    Arial,
    sans-serif,
    var(--fdm22--typography-emoji);
}

h1 {
  font-size: 2em;
  font-weight: bolder;
}

h2 {
  font-size: calc(1em * 4 / 3);
  font-weight: bold;
  margin-bottom: 1em;
}

h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.2em;
}
